*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'London';
    src: url('./assets/fonts/london.fill-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --first-colour: #FAF7F0;
    --second-colour: #D8D2C2;
    --third-colour: #B17457;
    --fourth-colour: #4A4947;

    --risk-low: #53AC53;
    --risk-medium: #ffac4d;
    --risk-high: #FF746C;

    --shadow-color: 43deg 15% 60%;
    --shadow-elevation-low:
        -0.8px 1px 1.4px hsl(var(--shadow-color) / 0.52),
        -3.3px 4px 5.8px -2.5px hsl(var(--shadow-color) / 0.52);
    --shadow-elevation-medium:
        -0.8px 1px 1.4px hsl(var(--shadow-color) / 0.48),
        -4.2px 5.2px 7.5px -1.2px hsl(var(--shadow-color) / 0.48),
        -16.5px 20px 29.2px -2.5px hsl(var(--shadow-color) / 0.48);
    --shadow-elevation-high:
        -0.8px 1px 1.4px hsl(var(--shadow-color) / 0.54),
        -7.8px 9.5px 13.8px -0.6px hsl(var(--shadow-color) / 0.54),
        -18.7px 22.7px 33.1px -1.2px hsl(var(--shadow-color) / 0.54),
        -41px 49.7px 72.5px -1.9px hsl(var(--shadow-color) / 0.54),
        -82.4px 100px 145.8px -2.5px hsl(var(--shadow-color) / 0.54);
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--first-colour);
    font-size: 0.92rem;
}

button, input, textarea {
    background-color: transparent;
    color: inherit; 
    font-family: inherit;
    font-size: inherit;

    appearance: none;
    -webkit-appearance: none;

    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 8px; 
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #c0c0c0; 
    border-radius: 10px; /* Gives it nice rounded pill-shaped edges */
}

input:focus, 
textarea:focus {
    outline: none; 
}

input, 
textarea {
    -webkit-tap-highlight-color: transparent;
}

h1 {
    background-color: transparent;
    font-family: 'Dm Sans', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    text-shadow: -0.8px 1px 1.4px hsl(var(--shadow-color) / 0.48),
        -4.2px 5.2px 7.5px hsl(var(--shadow-color) / 0.48),
        -16.5px 20px 29.2px hsl(var(--shadow-color) / 0.48);
}

.loading-screen {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1440px) {
    .overlay {
        display: none !important; /* completely kill the overlay */
    }
    
    .main-page.sidebar-open {
        margin-left: 300px; 
        width: calc(100% - 300px); 
    }

    .verdict-page.risk-low.sidebar-open {
        margin-left: 300px; 
        width: calc(100% - 300px); 
    }
    .verdict-page.risk-medium.sidebar-open {
        margin-left: 300px; 
        width: calc(100% - 300px); 
    }
    .verdict-page.risk-high.sidebar-open {
        margin-left: 300px; 
        width: calc(100% - 300px); 
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 40;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.off-screen-sidebar {
    background-color: var(--first-colour);
    border-right: 1px solid var(--second-colour);
    height: 100vh;
    height: 100dvh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 0.3s ease;
    z-index: 50;
    display: flex;
    flex-direction: column;
}
.off-screen-sidebar.active {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    height: 6dvh;
    width: inherit;
    padding: 0em 1em;
    flex-shrink: 0;
}
.sidebar-header img {
    background-color: transparent;
    height: 70%;
    aspect-ratio: 1;
    cursor: pointer;
}

.sidebar-content {
    padding: 1em;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 0;
}

.dashboard {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

nav {
    height: 6vh;
    height: 6dvh;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.nav.risk-low{
    background-color: var(--risk-low);
}
.nav.risk-medium{
    background-color: var(--risk-medium)    ;
}
.nav.risk-high{
    background-color: var(--risk-high);
}

.ham-sidebar {
    background-color: transparent;
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
}
.ham-sidebar img {
    background-color: transparent;
    width: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.sidebar-content-top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-height: 0;
}

.new-scan {
    height: 2.5em;
    border: none;
    border-radius: 6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em;
    font-size: inherit;
    cursor: pointer;
}

.new-scan img {
    background-color: transparent;
    height: 110%;
    aspect-ratio: 1;
}
.new-scan p {
    background-color: transparent;
}

.history-search {
    background-color: rgb(255, 255, 255);
    height: 2.5em;
    border: none;
    border-radius: 6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em;
    font-size: inherit;
    cursor: pointer;
}

.history-search img {
    background-color: transparent;
    height: 110%;
    aspect-ratio: 1;
}

.history-search-page {
    font-size: 1rem;
    background-color: var(--first-colour);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 80;
}

.history-search-header {
    background-color: transparent;
    width: 100%;
    max-width: 45em;
    display: flex;
    padding: 0.6em;
}

.history-search-header-content {
    background-color: white;
    border-radius: 6em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.3em;
    gap: 0.5em;
}

.history-search-header-content input {
    height: 2.5em;
    font-size: inherit;
    background-color: transparent;
    flex-grow: 1;
    border-radius: 6em;
    border: none;
    padding: 0.6em;
}

.history-search-header-content .back-btn {
    border-radius: 50%;
    height: 2em;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-search-header-content .back-btn img {
    background-color: transparent;
    height: 70%;
    aspect-ratio: 1;
}

.history-search-results {
    background-color: transparent;
    width: 100%;
    max-width: 45em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.6em;
    overflow-y: scroll;
}

.history-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 0;
    padding-top: 2.5em;
    margin-right: -1em;
    padding-right: 1em;
    margin-left: -1em;
    padding-left: 1em;
}

.history-list p {
    padding: 0.6em;
    color: var(--fourth-colour);
    position: fixed;
    margin-top: -2.5em;
}

.email-card {
    height: 2.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6em;
}
.email-card.selected {
    background-color: var(--second-colour);
    box-shadow: var(--shadow-elevation-medium);
}
.email-card.selected .more-btn {
    opacity: 1;
    pointer-events: auto;
}

.email-card .email-title {
    border: none;
    border-radius: 6em 0 0 6em;
    background-color: transparent;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em;
    font-size: inherit;
    cursor: pointer;
}

.email-card .email-title span {
    background-color: transparent;
}

.more {
    background-color: transparent;
    height: 100%;
    position: relative;
}

.more-btn {
    background-color: transparent;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    opacity: 1;
}
.more-btn button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.more-btn button img {
    background-color: transparent;
    height: 70%;
    width: 70%;
    object-fit: contain;
}

.more-btn.active {
    opacity: 1;
    pointer-events: auto;
}
.more-btn.active button {
    background-color: rgb(0, 0, 0, 0.1);
}

.more-options-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 60;
    pointer-events: auto;
}

.more-options {
    background-color: var(--first-colour);
    width: 9em;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    box-shadow: var(--shadow-elevation-medium);
    z-index: 70;
}
.more-options button {
    width: 100%;
    padding: 0.6em;
    text-align: start;
    font-size: inherit;
    border: none;
    border-radius: inherit;
    cursor: pointer;
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 90;
    pointer-events: auto;
}

.hover-menu {
    position: fixed;
    width: 25em;
    max-width: 30em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--first-colour);
    border-radius: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    box-shadow: -0.8px 1px 1.4px hsl(41deg 3% 31% / 0.48),
        -4.2px 5.2px 7.5px -1.2px hsl(41deg 3% 31% / 0.48),
        -16.5px 20px 29.2px -2.5px hsl(41deg 3% 31% / 0.48);
}

.hover-menu h2,
.hover-menu p {
    /* 2. Kill any rogue spacing */
    margin: 0 !important; 
    padding: 0 !important;
    
    /* 4. Force standard flow (kills any rogue 'position: absolute' rules) */
    position: static !important; 
}

.hover-menu h2 {
    background-color: transparent;
}

.hover-menu form {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hover-menu input {
    background-color: white;
    border: none;
    border-radius: 6em;
    padding: 0.6em;
    width: 100%;
}

.hover-menu .footer {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}
.hover-menu .footer button {
    border: none;
    border-radius: 6em;
    padding: 0.6em 1.5em;
    cursor: pointer;
}
.hover-menu .footer button:nth-child(2) {
    color: white;
    background-color: var(--third-colour);
}

.sidebar-content-bottom {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.6em;
}

.settings {
    height: 2.5em;
    border: none;
    border-radius: 6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em;
    font-size: inherit;
    cursor: pointer;
}

.settings img {
    background-color: transparent;
    height: 130%;
    aspect-ratio: 1;
}
.settings p {
    background-color: transparent;
}

.logout {
    height: 2.5em;
    border: none;
    border-radius: 6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em;
    padding-left: 0.8em;
    font-size: inherit;
    cursor: pointer;
}
.logout img {
    background-color: transparent;
    height: 120%;
    aspect-ratio: 1;
}

.user-settings {
    height: 4em;
    box-shadow: var(--shadow-elevation-high);
    border: none;
    border-radius: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
    cursor: pointer;
}

.user-settings .user-image {
    background-color: transparent;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}
.user-settings .user-image img {
    background-color: transparent;
}

.user-settings .user-text-info {
    flex-grow: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.1em;
    padding: 0.1em;
}
.user-settings .user-text-info .email-address {
    font-size: 0.9em;
    color: rgb(61, 61, 61);
}

.user-settings .arrow {
    background-color: transparent;
    height: inherit;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-settings .arrow img {
    background-color: transparent;
    height: 60%;
    width: 60%;
}

.main-page {
    flex-grow: 1;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.welcome-text {
    width: 100%;
    max-width: 45em;
    height: 45%;
    padding: 1em;
    background-color: transparent;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome-text > :first-child {
    font-size: 1.5rem;
    margin-bottom: 0.2em;
}
.welcome-text > :nth-child(2) {
    font-size: 2.5rem;
    margin-bottom: 0.4em;
}
.welcome-text > ul {
    padding-left: 1em;
    list-style-type: circle;
    line-height: 1.5;
}

.scan {
    width: 100%;
    max-width: 45em;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Default State */
    border-radius: 100px;
    transition: border-radius 0.15s ease;
    will-change: border-radius;

    box-shadow: var(--shadow-elevation-high);
}
.scan.expanded {
    border-radius: 20px;
}

.scan-input {
    resize: none;
    overflow-y: auto;
    max-height: 15em;
    line-height: 1.5;
    background-color: white;
    border: none;
    padding: 1em;
    flex-grow: 1;
    
    /* Default State */
    border-radius: 100px;
    transition: border-radius 0.15s ease;
    will-change: border-radius;
}
.scan-input.expanded {
    border-radius: 20px;
}

.scan-button {
    background-color: transparent;
    border: none;
    width: 52px;
    height: 100%;
    flex-shrink: 0;
    padding: 0.5em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scan-button.expanded {
    display: flex;
    align-items: flex-end;
}
.scan-button button {
    background-color: var(--third-colour);
    border: none;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.scan-button button img {
    filter: invert(100%) sepia(6%) saturate(212%) hue-rotate(254deg) brightness(115%) contrast(85%);
    background-color: transparent;
    height: 60%;
    aspect-ratio: 1;
}

.verdict-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    transition: margin-left 0.3s ease, width 0.3s ease;
}
.verdict-page.risk-low {
    background-color: var(--risk-low);
}
.verdict-page.risk-medium {
    background-color: var(--risk-medium);
}
.verdict-page.risk-high {
    background-color: var(--risk-high);
}

.verdict-page-content {
    background-color: transparent;
    width: 100%;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.verdict-page-content-header {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.verdict-page-content-header>.back-btn {
    background-color: transparent;
    border: none;
    border-radius: 6em;
    padding: 0.3em;
    font-size: inherit;
    font-weight: bold;
}

.verdict-page-content-header p {
    background-color: transparent;
    font-size: inherit;
    font-weight: bold;
}

.verdict-icon {
    background-color: transparent;
    height: 8em;
    aspect-ratio: 1;
}
.verdict-icon img {
    background-color: transparent;
    aspect-ratio: 1;
    height: 100%;
}
.verdict{
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
}
.verdict-risk-level {
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: bold;
}
.verdict-explanation {
    background-color: transparent;
    text-align: center;
}

@media (hover: hover) {
    .new-scan:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .history-search:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .history-search-header-content .back-btn:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    
    .history-list::-webkit-scrollbar-thumb:hover {
        background: #979797; 
    }
    .email-card:not(.selected):has(.email-title:hover) {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .email-card:not(.selected):has(.more-btn:hover) {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .more-btn button:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .more-btn {
        opacity: 0;
    }
    .email-card:hover .more-btn {
        opacity: 1;
        pointer-events: auto;
    }
    .more-options button:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .hover-menu .footer button:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .settings:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .logout:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .user-settings:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .verdict-page-content-header>.back-btn:hover {
        background-color: rgb(0, 0, 0, 0.1);
        cursor: pointer;
    }
}


/* Login & Register Pages */
.auth-page > h1 {
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.auth-menu {
    position: fixed;
    width: 90%;
    max-width: 30em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--first-colour);
    border-radius: 20px;
    box-shadow:  var(--shadow-elevation-high);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.auth-menu form {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.auth-menu form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.auth-menu form div label {
    color: rgb(80, 80, 80);
    background-color: transparent;
}

.auth-menu form div input {
    background-color: white;
    border: none;
    border-radius: 6em;
    padding: 0.6em;
}

.auth-menu form button {
    background-color: var(--third-colour);
    border: none;
    height: 2.5em;
    border-radius: 6em;
    color: white;
    font-size: inherit;
    cursor: pointer;
}

.auth-redirect {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}
.auth-redirect button {
    background-color: transparent;
    border: none;
    color: var(--third-colour);
    font-size: inherit;
    cursor: pointer;
}

.guest-login {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}
.guest-login button {
    background-color: transparent;
    border: none;
    color: var(--third-colour);
    font-size: inherit;
    cursor: pointer;
}