*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --first-colour: #ececec;
    --second-colour: #9fd3c7;
    --third-colour: #385170;
    --fourth-colour: #142d4c;

    --risk-low: #53AC53;
    --risk-medium: #ffac4d;
    --risk-high: #FF746C;

    --font-size: 0.875rem;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--first-colour);
}

button {
    color: inherit; 
    font-family: inherit;
    font-size: inherit;

    appearance: none;
    -webkit-appearance: none;

    -webkit-tap-highlight-color: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 40;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.off-screen-sidebar {
    background-color: var(--first-colour);
    height: 100vh;
    height: 100dvh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 0.3s ease;
    z-index: 50;
    display: flex;
    flex-direction: column;
}
.off-screen-sidebar.active {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    height: 6dvh;
    width: inherit;
    padding: 0em 1em;
    flex-shrink: 0;
}
.sidebar-header h2{
    background-color: transparent;
    color: var(--third-colour);
}
.sidebar-header img {
    background-color: transparent;
    height: 70%;
    aspect-ratio: 1;
    cursor: pointer;
}

.sidebar-content {
    padding: 1em;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.875rem;
    flex-grow: 1;
    min-height: 0;
}

.dashboard {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

nav {
    height: 6vh;
    height: 6dvh;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.nav.risk-low{
    background-color: var(--risk-low);
}
.nav.risk-medium{
    background-color: var(--risk-medium)    ;
}
.nav.risk-high{
    background-color: var(--risk-high);
}

.ham-sidebar {
    background-color: transparent;
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
}
.ham-sidebar img {
    background-color: transparent;
    width: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.nav h2 {
    background-color: transparent;
    color: var(--third-colour);
}

.sidebar-content-top {
    flex-grow: 1;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-height: 0;
}

.new-scan {
    height: 2.5em;
    border: none;
    border-radius: 6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em;
    font-size: inherit;
    cursor: pointer;
}

.new-scan img {
    background-color: transparent;
    height: 110%;
    aspect-ratio: 1;
}
.new-scan p {
    background-color: transparent;
}

.history-search input {
    width: 100%;
    border-radius: 6em;
    padding: 0.6em;
    border: 1px solid var(--fourth-colour);
}

.history-search {
    background-color: rgb(255, 255, 255);
    height: 2.5em;
    border: none;
    border-radius: 6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em;
    font-size: inherit;
    cursor: pointer;
}

.history-search img {
    background-color: transparent;
    height: 110%;
    aspect-ratio: 1;
}

.history-search-page {
    background-color: var(--first-colour);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 80;
}

.history-search-header {
    background-color: transparent;
    width: 100%;
    max-width: 40em;
    display: flex;
    padding: 0.6em;
}

.history-search-header-content {
    background-color: white;
    border-radius: 6em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3em;
    gap: 0.5em;
}

.history-search-header-content input {
    font-size: inherit;
    background-color: transparent;
    flex-grow: 1;
    border-radius: 6em;
    border: none;
}

.history-search-header-content .back-btn {
    border-radius: 50%;
    height: 2em;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-search-header-content .back-btn img {
    background-color: transparent;
    height: 70%;
    aspect-ratio: 1;
}

.history-search-results {
    background-color: transparent;
    width: 100%;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.6em;
}

.history-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 0;
    padding-top: 2.5em;
    margin-right: -1em;
    padding-right: 1em;
}
.history-list::-webkit-scrollbar {
    width: 8px; 
}
.history-list::-webkit-scrollbar-track {
    background: transparent; 
}
.history-list::-webkit-scrollbar-thumb {
    background: #c0c0c0; 
    border-radius: 10px; /* Gives it nice rounded pill-shaped edges */
}

.history-list p {
    padding: 0.6em;
    color: rgb(80, 80, 80);
    position: fixed;
    margin-top: -2.5em;
}

.email-card {
    height: 2.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6em;
}
.email-card.selected {
    background-color: rgb(0, 0, 0, 0.2);
}
.email-card.selected .more-btn {
    opacity: 1;
    pointer-events: auto;
}

.email-card .email-title {
    border: none;
    border-radius: 6em 0 0 6em;
    background-color: transparent;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em;
    font-size: inherit;
    cursor: pointer;
}

.email-card .email-title span {
    background-color: transparent;
}

.more {
    background-color: transparent;
    height: 100%;
    position: relative;
}

.more-btn {
    background-color: transparent;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    opacity: 0;
}
.more-btn button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.more-btn button img {
    background-color: transparent;
    height: 70%;
    width: 70%;
    object-fit: contain;
}

.more-btn.active {
    opacity: 1;
    pointer-events: auto;
}
.more-btn.active button {
    background-color: rgb(0, 0, 0, 0.1);
}

.more-options-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 60;
    pointer-events: auto;
}

.more-options {
    position: absolute;
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 0.6em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 70;
}
.more-options button {
    width: 100%;
    padding: 0.6em;
    text-align: start;
    font-size: inherit;
    border: none;
    border-radius: inherit;
    cursor: pointer;
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 90;
    pointer-events: auto;
}

.hover-menu {
    position: fixed;
    width: 100%;
    max-width: 30em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--first-colour);
    border-radius: 0.6em;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.hover-menu h2 {
    background-color: transparent;
}

.hover-menu form {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hover-menu input {
    background-color: white;
    border: none;
    border-radius: 6em;
    padding: 0.6em;
    width: 100%;
}

.hover-menu .footer {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}
.hover-menu .footer button {
    border: none;
    border-radius: 6em;
    padding: 0.6em 1.2em;
    cursor: pointer;
}

.sidebar-content-bottom {
    flex-shrink: 0;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.6em;
}

.settings {
    height: 2.5em;
    border: none;
    border-radius: 6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em;
    font-size: inherit;
    cursor: pointer;
}

.settings img {
    background-color: transparent;
    height: 130%;
    aspect-ratio: 1;
}
.settings p {
    background-color: transparent;
}

.logout {
    height: 2.5em;
    border: none;
    border-radius: 6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em;
    padding-left: 0.8em;
    font-size: inherit;
    cursor: pointer;
}
.logout img {
    background-color: transparent;
    height: 120%;
    aspect-ratio: 1;
}

.user-settings {
    height: 4em;
    border: 1px solid #142d4c;
    border-radius: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
    cursor: pointer;
}

.user-settings-left {
    background-color: transparent;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em;
}
.user-image {
    background-color: transparent;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}
.user-image img {
    background-color: transparent;
}
.username {
    background-color: transparent;
}
.arrow {
    background-color: transparent;
    height: inherit;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow img {
    background-color: transparent;
    height: 60%;
    width: 60%;
}

.main-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.scan {
    height: 2.5em;
    width: 100%;
    max-width: 40em;
    background-color: white;
    border-radius: 6em;
    display: flex;
    justify-content: space-between;
}
.scan-input {
    resize: none;
    overflow: hidden;
    min-height: 40px; /* Or whatever your original input height was */
    box-sizing: border-box;
    font-family: inherit;

    background-color: transparent;
    border: none;
    padding: 0.6em;
    flex-grow: 1;
    border-radius: 6em;
}
.scan button {
    background-color: var(--third-colour);
    border: none;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.scan button img {
    filter: invert(100%) sepia(6%) saturate(212%) hue-rotate(254deg) brightness(115%) contrast(85%);
    background-color: transparent;
    height: 60%;
    aspect-ratio: 1;
}

.verdict-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}
.verdict-page.risk-low {
    background-color: var(--risk-low);
}
.verdict-page.risk-medium {
    background-color: var(--risk-medium);
}
.verdict-page.risk-high {
    background-color: var(--risk-high);
}

.verdict-page-content {
    background-color: transparent;
    width: 100%;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.verdict-page-content-header {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.verdict-page-content-header>.back-btn {
    background-color: transparent;
    border: none;
    border-radius: 6em;
    padding: 0.3em;
    font-size: inherit;
    font-weight: bold;
}

.verdict-page-content-header p {
    background-color: transparent;
    font-size: inherit;
    font-weight: bold;
}

.verdict-icon {
    background-color: transparent;
    height: 8em;
    aspect-ratio: 1;
}
.verdict-icon img {
    background-color: transparent;
    aspect-ratio: 1;
    height: 100%;
}
.verdict{
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
}
.verdict-risk-level {
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: bold;
}
.verdict-explanation {
    background-color: transparent;
    text-align: center;
}

@media (hover: hover) {
    .new-scan:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .history-search:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .history-search-header-content .back-btn:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    
    .history-list::-webkit-scrollbar-thumb:hover {
        background: #979797; 
    }
    .email-card:not(.selected):has(.email-title:hover) {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .email-card:not(.selected):has(.more-btn:hover) {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .more-btn button:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .email-card:hover .more-btn {
        opacity: 1;
        pointer-events: auto;
    }
    .more-options button:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    .hover-menu .footer button:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .settings:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .logout:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .user-settings:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .verdict-page-content-header>.back-btn:hover {
        background-color: rgb(0, 0, 0, 0.1);
        cursor: pointer;
    }
}